:root {
  --primer-color: #24353f;
  --secondary-color: #ced4da;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  background: var(--primer-color);
}

main {
  height: 100vh;
}
.form-control {
  background-color: transparent;
  border: 1px solid #ced4da;
}
.form-control::placeholder {
  color: var(--secondary-color);
}
.form-control:focus {
  background-color: transparent;
  color: white;
}
.box-content {
  box-shadow: -5px -2px 54px -9px rgb(0, 0, 0, 1);
  background: var(--primer-color);
}
